.gridCont {
    display: grid;
    grid-template-columns: auto auto auto;
}
.gridItem {
    border: 1px solid black;
    height: 30px;
}
.hidden {
    display: none !important;
}
#nameBoard {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.active {
    background-color: greenyellow;
    font-weight: bold;
}
.inactive {
    background-color: red;
    color: grey;
}
#message {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}